{% extends 'base.html.twig' %}

{% block title %}Contactez nous{% endblock %}

{% block body %}

<body style="background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url({{asset('img/contact.jpg')}}) center / cover no-repeat;">
    <section style="padding-top: 0px;margin-bottom: 70px;margin-top: 70px;">
        <div class="section-bg-overlay" style="background: rgba(230,167,86,0.36);">
            <div class="form-box">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <div class="form-value">
                    {{ form_start(contactUsForm) }}
                        <div class="inputbox">{{ form_widget(contactUsForm.email) }}<label>Email</label></div>
                        <div class="inputbox">{{ form_widget(contactUsForm.message) }}<label>Message</label></div>
                        <div class="forget"><label class="form-label" for=""><input type="checkbox">Je souhaite m'inscrire à la newsletter pour<br>recevoir les actualités de "Gourmandises<br>insolentes"</label></div><button>Envoyer</button>
                    {{ form_end(contactUsForm) }}
                        <div class="register">
                            <p style="font-weight: bold;">Déjà un compte ? Connectez-vous !</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
